@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    font-family: 'Ubuntu', sans-serif;
}

.hide {
    display: none;
}

body {
    width 100%;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #97ABB1;
    position: relative;
}

#description {
    position: absolute;
    top: 15%;
    color: #E5F2C9;
    background-color: #746F72;
    font-size: 25px;
    height: 70%;
    width: 80%;
    border-radius: 10px;
    padding: 5%;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
}

.header {
    font-size: 45px;
    line-height: 100px;
}

.row {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    background-color: #746F72;
    color: #E5F2C9;
    border-radius: 10px;
}

.name, .task {
    line-height: 100px;
    font-size: 35px;
    width: 50%;
    display: inline-block;
}
